<%- include('../partials/header') %>
       <div class="jumbotron">
          <h1 class="display-3"> About me </h1>
          <p class="lead">This page is about Sovanny.</p>
          <hr class="my-4">
          <p>She is currently attending Year Up and is an aspiring project manager in tech. </p>
        </div>
 
      <p> <e>Here is a photo of one company she wants to work at</e></p> <br>
  <img src= "https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Yelp_Logo.svg/1200px-Yelp_Logo.svg.png" alt="yelp logo" width="300" height="100">    
      
 <%- include('../partials/footer') %>