<%- include('../partials/header') %>
       <div class="jumbotron">
          <h1 class="display-3"> Hobbies </h1>
          <p class="lead">This page is about one of Sovanny's hobbies ( Pickleball) .</p>
          <hr class="my-4">
          <p>She is currently in a womens league and recently won a Silver in an all genders tournament. </p>
        </div>
 
      <p> <e>Here is a photo of what Pickleball is</e></p>
  <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLHfu8iVFxaFLJ4PK-G7YVHAMGZVOX5KTOHg&usqp=CAU" alt="women on court playing pickleball" width="650" height="450">    
      
 <%- include('../partials/footer') %>