<%- include('../partials/header') %>
       <div class="jumbotron">
          <h1 class="display-3"> Jobs </h1>
          <p class="lead">This page is about one of Sovanny's past job as an oral surgey assistant </p>
          <hr class="my-4">
          <p>She is currently as a student now, but has learned so much from her previous jobs. </p>
        </div>
 
      <p> <e>Here is an example of tools used</e></p>
  <img src= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPEE52vqvh3YKiofmynzSGKk3F6gmaiDIYuQ&usqp=CAU" alt=" Drs holding insturments for oral surgery">    
      
 <%- include('../partials/footer') %>